@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUIRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUIBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


.flex {
    display: flex;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    border: none;
}

.container {
    max-width: 620px;
    margin: 0 auto;
}


body {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    color: #131316;
}

.header {
    position: absolute;
    width: 100%;
    min-height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    width: 180px;
    min-height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
    border-radius: 4px;
    border: none;
    transition: all 2s ease-in-out;
}


/*fdbdgnhghnf*/
.header__btn:hover {
    background: linear-gradient(87.23deg, rgba(124, 13, 180, 0) -91.42%, #2828d2 99.79%);
}

.main {
    background: #131316;
}

.news {
    min-height: 900px;
    padding-top: 120px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #131316;
}

.news__title {
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: white;
}

.news__spaces-block {
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__small-card {
    width: 200px;
    min-height: 310px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
}

.news__small-card img,
.news__wide-card img {
    width: 100%;
    height: 148px;
}

.news__wide-card img {
    height: 178px;
}

.news__space-info {
    width: 100%;
    padding: 10px;
    padding-top: 0;
}

.news__space-description-wide {
    text-align: center;
    max-width: 270px;
    margin-bottom: 9px;
}


.news__wide-card {
    width: 305px;
    min-height: 340px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
}

.ship-of-the-day {
    min-height: 600px;
    background-color: #131316;
}

.news__space-description {
    max-width: 160px;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.news__prices {
    justify-content: space-around;
    margin-bottom: 9px;
    align-items: center;
}


.news__first-price {
    text-decoration-line: line-through;
    color: #D9D9D9;
}

.news__last-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}


.news__btn {
    width: 100%;
    min-height: 40px;
    background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}


.news__btn:hover {
    background: linear-gradient(87.23deg, rgba(124, 13, 180, 0) -91.42%, #2828d2 99.79%);
}

.ship-of-the-day__content {
    max-width: 620px;
    min-height: 470px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}

.ship-of-the-day__img {
    width: 305px;
    height: 305px;
}

.ship-of-the-day__right {
    padding: 30px 65px 28px 10px;
}

.ship-of-the-day__btns-block {
    flex-direction: column;
}

.ship-of-the-day__spaces-icons {
    margin-bottom: 10px;
}

.ship-of-the-day__spaces-icons img {
    margin-right: 3px;
}

.spaces-icon-last {
    opacity: .3;
}

.ship-of-the-day__h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
}

.ship-of-the-day__li {
    justify-content: space-between;
    margin-bottom: 5px;
}

.ship-of-the-day__li p,
.ship-of-the-day__li span {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

.ship-of-the-day__p {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 21px;
}

.ship-of-the-day__prices {
    justify-content: space-between;
    margin-bottom: 23px;
}

.ship-of-the-day__last-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.ship-of-the-day__sale {
    padding-top: 1px;
    width: 60px;
    min-height: 24px;
    background: #FF0000;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.ship-of-the-day__btn-1 {
    width: 280px;
    min-height: 60px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px dashed #131316;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.ship-of-the-day__btn-1:hover {
    border: 1.5px solid rgb(56, 38, 194);
}

.ship-of-the-day__btn-2 {
    width: 280px;
    min-height: 60px;
    background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
    border-radius: 4px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.ship-of-the-day__btn-2:hover {
    background: linear-gradient(87.23deg, rgba(124, 13, 180, 0) -91.42%, #2828d2 99.79%);
}

.red-price {
    color: #FF0000;
    font-weight: 700 !important;
}

.footer {
    min-height: 220px;
    background: #131316;
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-align: center;
    margin-bottom: 19px;
}


.footer__container {
    flex-direction: column;
}

.footer__nets {
    margin: 0 auto;
    width: 236px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 27px;
}

.footer__net-link {
    display: inline-block;
    width: 60px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 100%;
}

.footer__net-link:hover img {
    -webkit-box-shadow: 8px 3px 33px 2px rgba(183, 189, 193, 0.26);
    -moz-box-shadow: 8px 3px 33px 2px rgba(183, 189, 193, 0.26);
    box-shadow: 8px 3px 33px 2px rgba(186, 183, 193, 0.26);
    border-radius: 100%;
    transform: translateY(-2px);
}

.footer__bottom {
    justify-content: space-between;
}

.footer__contacts {
    flex-direction: column;
}

.footer-connect-info {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__tel,
.footer__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__mail {
    text-decoration-line: underline;
}


@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 516px;
    }

    .news__spaces-block {
        flex-direction: column;
    }

    .news__spaces-block {
        max-width: 300px;
        margin: 0 auto;
    }

    .news__small-card {
        width: 100%;
    }

    .news__small-card img {
        width: 200px;
    }

    .ship-of-the-day {
        padding-top: 40px;
    }
}

@media (min-width: 360px) and (max-width: 575px) {
    .container {
        max-width: 330px;
    }

    .news__spaces-block {
        max-width: 200px;
        margin: 0 auto;
    }

    .ship-of-the-day__space-info {
        flex-direction: column;
    }

    .ship-of-the-day__content {
        padding-bottom: 20px;
    }

    .ship-of-the-day {
        padding-top: 30px;
    }

    .footer {
        padding-top: 20px;
    }
}